* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.navegator {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 3vh;
  padding: 1.2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .01);
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.navegator h3 {
  color: #14151A;
}

.container {
  padding: 2rem;
  border-radius: .4rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .03);
  overflow: hidden;
}

.card {
  display: flex;
  min-width: 20vw;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.card input {
  background: transparent;
  border: 0px;
  border-radius: .13rem;
  box-shadow: 0 0 0 1px #d3d5d9;
  font-size: 1.1rem;
  width: 100%;
  height: 2.8rem;
  outline: none;
}

input::placeholder {
  color: #878787;
  padding-left: .5rem;

}

input::focus {
  border-color: #171717;
}

input::focus::placeholder {
  color: #171717;
  padding-left: .5rem;
}

.card .button {
  width: 100%;
  height: 2.8rem;
  color: #fff;
  background-color: #171717;
  border-radius: .2rem;
  border: none;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
}

.save {
  width: 100%;
  height: 2.8rem;
  color: #fff;
  background-color: rgb(143, 164, 252);
  border-radius: .2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete {
  width: 100%;
  height: 2.8rem;
  color: #fff;
  background-color: #ff6b6b;
  border-radius: .2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
}

input[type="checkbox"] {
  width: 34px;
  height: 20px;
}

p {
  color: #aeadad;
  font-size: 1.2rem;
}

a {
  color: rgb(143, 164, 252);
  text-decoration: none;
  font-size: 1.1rem;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: flex-end;
  padding-left: 1rem;
  padding-bottom: 1rem;
  min-width: 100vw;
  min-height: 8vh;
}

.container_add {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 100%;
  background-color: rgb(143, 164, 252);
}

.bnt_create {
  color: #fff;
}

@media (min-width: 800px) and (max-width: 1400px) {
  .card {
    display: flex;
    min-width: 40vw;
    min-height: 58vh;
  }
}

@media (min-width: 320px) and (max-width: 790px) {
  .card {
    display: flex;
    min-width: 50vw;
    min-height: 50vh;
  }

  .container {
    box-shadow: none;
  }
}