{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit Todo{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">

  <form method="post" class="card">
    <label for="description">Description</label>
    <input name="description" id="description" value="{{ request.form['description'] or todo['description'] }}"
      required />

    <div class="check">
      <p for="completed">Completed</p>
      <input type="checkbox" name="completed" id="completed" {% if todo['completed']==1 %}{% endif %} />
    </div>

    <button class="save" type="submit">Save</button>
  </form>

  <form class="form-delete" action="{{ url_for('todo.delete', id=todo['id']) }}" method="post">
    <button class="delete" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
      Delete
    </button>
  </form>
</div>

{% endblock %}